*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1694768970699-2d8764a785bc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1454&q=80);
    background-size: cover;
}

.container-form{
    box-shadow: 0 15px 15px 15px rgb(0 0 0 / .4);
    width: 900px;
    height: 500px;
    display: flex;
    border-radius: 20px;
    transition: all 1s ease;
    margin: 10px;
}

.information{
    display: flex;
    background-color: #94d2bd;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.info-childs{
    width: 100%;
    padding: 0 30px;
}

.info-childs h2{
    font-size: 2.5rem;
    color: #0d1321;
}

.info-childs p {
    margin: 15px 0;
    font-size: 1.2rem;
    color: #1d2d44;
}

.info-childs input{
    font-size: 1rem;
    outline: none;
    border: none;
    padding: 8px 50px;
    border-radius: 50px;
    font-weight: 800;
    background-color: #748cab;
    cursor: pointer;
    color: #dad7cd;
    box-shadow: 0 1px 1px 1px #dad7cd;
    transition: background-color .3s ease;
}

.info-childs input:hover{
    background-color: #1d2d44;
    color: #f0ebd8;
    padding: 12px 58px;
}

.info-childs h5{
    margin-top: 32px;
    font-size: 1rem;
    color: #1d2d44;
}

.form-information {
    background-color: #3e5c76;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 60%;
}

.form-information-childs{
    width: 100%;
    padding: 0 30px;
}

.form-information-childs h2{
    color: #f0ebd8;
    margin-bottom: 15px;
    font-size: 2rem;
}

.icons{
    margin: 15px 0;
    
}

.icons i {
    padding: 18px;
    border: solid thin #252525;
    border-radius: 50px;
    margin: 8px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.icons i:hover{
    padding: 25px;
    background-color: #748cab;
}

.form-information-childs p {
    color: #f0ebd8;
    margin: 15px 0;
    font-size: 1.2rem;
}

.form {
    margin: 25px 0 0 0;
}

.form label{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    padding: 0 35px;
    border-radius: 25px;
}

.form label input{
    border-radius: 25px;
    padding: 5px 25px;
    border: none;
    outline: none;
}


.form input[type="submit"]{
    margin-top: 20px;
    padding: 5px 30px;
    border-radius: 25px;
    font-size: 1.1rem;
    background-color: #748cab;
    border: none;
    transition: background-color .3s ease;
}

.form input[type="submit"]:hover{
    padding: 8px 35px;
    color: #f0ebd8;
    background-color: #1d2d44;
}

.hide{
    position: absolute;
    transform: translatey(-300%);
}
/*responsive*/

@media screen and (max-width:750px) {
    html{
        font-size: 12px;
    }
    
}

@media screen and (max-width:580px) {
    html{
        font-size: 10px;
    }

    .container-form{
        flex-direction: column;
        height: auto;

    }

    .information{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .form-information{
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0px;
    }
    
}

